{:deps {org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        instaparse/instaparse {:mvn/version "1.4.10"}
        org.clojure/core.async {:mvn/version "0.6.532"}}
 :paths ["src" "resources"]
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
