{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        instaparse/instaparse {:mvn/version "1.4.10"}
        org.clojure/core.async {:mvn/version "0.6.532"}}
 :paths ["src" "resources"]
 :aliases {:repl {:extra-deps {cider/cider-nrepl {:mvn/version "0.28.5"}
                               com.bhauman/rebel-readline {:mvn/version "0.1.4"}}
                  :main-opts ["-m" "nrepl.cmdline" "-i"
                              "--middleware" "[cider.nrepl/cider-middleware]"
                              "--repl-fn" "rebel-readline.main/-main"]}
           :test {:extra-paths ["test"]
                  :extra-deps {io.github.cognitect-labs/test-runner
                               {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
                  :main-opts ["-m" "cognitect.test-runner"]
                  :exec-fn cognitect.test-runner.api/test}}}
