{:linters {:condition-always-true {:level :warning}
           :equals-false {:level :warning}
           :equals-true {:level :warning}
           :minus-one {:level :warning}
           :plus-one {:level :warning}
           :redundant-fn-wrapper {:level :warning}
           :refer-all {:exclude [clojure.test]}
           :single-key-in {:level :warning}
           :unused-alias {:level :error}
           :used-underscored-binding {:level :error}}}
